source/config.py
source/tests.py
source/Genres/config.py
source/Genres/settings.py
source/__pycache__/

.cache
.cache
.cache
source/__pycache__/search_library.cpython-311.pyc
Tests/tests.py
.cache
source/test.py
source/__pycache__/get_album_on_library.cpython-311.pyc
source/__pycache__/Config.cpython-311.pyc
source/__pycache__/insert_album.cpython-311.pyc
source/__pycache__/insert_album.cpython-311.pyc
source/update_ratings.py
source/__pycache__/insert_album.cpython-311.pyc
