source/config.py
source/tests.py
source/Genres/config.py
source/Genres/settings.py
source/__pycache__/

.cache
.cache
.cache
source/__pycache__/search_library.cpython-311.pyc
Tests/tests.py
.cache
source/test.py
source/__pycache__/get_album_on_library.cpython-311.pyc
source/__pycache__/Config.cpython-311.pyc
source/__pycache__/insert_album.cpython-311.pyc
source/__pycache__/insert_album.cpython-311.pyc
source/update_ratings.py
source/__pycache__/insert_album.cpython-311.pyc
power bi dashboards/rys main dashboard.pbix
Flask API/Genres/Genres_and_Styles_Discogs.html
Flask API/Genres/__pycache__/config.cpython-311.pyc
Flask API/__pycache__/update_ratings.cpython-311.pyc
Flask API/__pycache__/Search.cpython-311.pyc
.gitignore
Flask API/config.py
Flask API/__pycache__/config.cpython-311.pyc
Flask API/__pycache__/delete_album.cpython-311.pyc
Flask API/__pycache__/get_album_on_library.cpython-311.pyc
Flask API/__pycache__/get_bg_color.cpython-311.pyc
Flask API/__pycache__/insert_album.cpython-311.pyc
Flask API/__pycache__/Insert.cpython-311.pyc
Flask API/__pycache__/models.cpython-311.pyc
Flask API/__pycache__/search_album.cpython-311.pyc
Flask API/__pycache__/search_library.cpython-311.pyc
Dash Dashboard/config.py
Dash Dashboard/__pycache__/config.cpython-311.pyc
.cache
Dash Dashboard/__pycache__/app_artists.cpython-311.pyc
Dash Dashboard/__pycache__/app_overview.cpython-311.pyc
Dash Dashboard/__pycache__/app_years_decades.cpython-311.pyc
Dash Dashboard/__pycache__/app_styles_genres.cpython-311.pyc
.cache
.cache
airflow_docker/logs/dag_processor_manager/dag_processor_manager.log
airflow_docker/logs/scheduler/latest
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_bash_operator.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_branch_datetime_operator.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_branch_day_of_week_operator.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_branch_labels.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_branch_operator_decorator.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_branch_operator.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_branch_python_dop_operator_3.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_complex.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_dag_decorator.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_datasets.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_dynamic_task_mapping_with_no_taskflow_operators.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_dynamic_task_mapping.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_external_task_marker_dag.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_kubernetes_executor.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_latest_only_with_trigger.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_latest_only.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_local_kubernetes_executor.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_nested_branch_dag.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_params_trigger_ui.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_params_ui_tutorial.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_passing_params_via_test_command.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_python_operator.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_sensor_decorator.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_sensors.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_setup_teardown_taskflow.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_setup_teardown.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_short_circuit_decorator.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_short_circuit_operator.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_skip_dag.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_sla_dag.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_subdag_operator.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_task_group_decorator.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_task_group.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_time_delta_sensor_async.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_trigger_controller_dag.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_trigger_target_dag.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_xcom.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/example_xcomargs.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/tutorial_dag.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/tutorial_taskflow_api_virtualenv.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/tutorial_taskflow_api.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/tutorial.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/plugins/event_listener.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/plugins/listener_plugin.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/plugins/workday.py.log
airflow_docker/logs/scheduler/2023-07-16/native_dags/example_dags/subdags/subdag.py.log
airflow_docker/__pycache__/config.cpython-311.pyc
dash_dashboards/__pycache__/app_artists.cpython-311.pyc
dash_dashboards/__pycache__/app_overview.cpython-311.pyc
dash_dashboards/__pycache__/app_styles_genres.cpython-311.pyc
dash_dashboards/__pycache__/app_years_decades.cpython-311.pyc
dash_dashboards/__pycache__/artists_layout.cpython-311.pyc
dash_dashboards/__pycache__/config.cpython-311.pyc
dash_dashboards/__pycache__/ratings_layout.cpython-311.pyc
dash_dashboards/__pycache__/styles_layout.cpython-311.pyc
dash_dashboards/__pycache__/years_layout.cpython-311.pyc
Data/artists_dashboard/artists.csv
Data/artists_dashboard/tooltip.csv
Data/ratings_dashboard/activity.csv
Data/ratings_dashboard/ratingsalbum.csv
.cache
flask_api/__pycache__/config.cpython-311.pyc
flask_api/__pycache__/delete_album.cpython-311.pyc
flask_api/__pycache__/edit_album.cpython-311.pyc
flask_api/__pycache__/get_album_on_library.cpython-311.pyc
flask_api/__pycache__/get_bg_color.cpython-311.pyc
flask_api/__pycache__/insert_album.cpython-311.pyc
flask_api/__pycache__/models.cpython-311.pyc
flask_api/__pycache__/search_album.cpython-311.pyc
flask_api/__pycache__/search_library.cpython-311.pyc
flask_api/__pycache__/update_ratings.cpython-311.pyc
src/create_csv_tableau/__pycache__/config_tableau.cpython-311.pyc
