/* responsive */

@media screen and (max-width: 1240px) {

	#background{

		min-width:1140px;

	}



	.wrap{

		width:1100px;

		margin:0 auto;

	}

	.author-wrap{

		width:100vw;

		margin:0 auto;

	}

}



@media screen and (max-width: 1140px) {

	#background{

		min-width:1000px;

	}



	.wrap{

		width:960px;

		margin:0 auto;

	}

	.author-wrap{

		width:100vw;

		margin:0 auto;
}

	.main-menu ul li{

		padding-right:10px;

		padding-left:10px;

	}

}



@media screen and (max-width: 1000px) {

	#background{

		min-width:760px;

	}



	.wrap{

		width:720px;

		margin:0 auto;

	}

	.author-wrap{

		width:100vw;

		margin:0 auto;
}

	/*  menu */



	#header .main-menu{

		display:none;

	}





	/* show toggle menu */

	.toggle-menu-button{

		display:block;

	}





	#index-box .promote-box-index{

		width:100%;

		box-sizing:border-box;

		-moz-box-sizing:border-box; /* Firefox */

	}



	/* layout */



	.big-column{
		border-right:0px !important;
		float:none;
		padding: 0;
		width:100%;

	}



	.small-column{
		/*border-bottom: 2px solid #e5e5e5;
		float:none;
		width:100%;
		padding-bottom: 20px;*/
		display: none; /* KS Edit 6/30/2020 */
	}



	.sidebar-widget{padding:0 0 27px 0}

	.sidebar-tag-links {
		overflow: hidden;
	}

	.sidebar-tag-links li {
		float: left;
		margin-right: 2%;
		width: 32%;
	}

	.sidebar-tag-links li:last-child {
		margin-right: 0;
	}



	.promote-box{

		padding-left:75px;

		padding-right:75px;

	}



	/* post */

	.post-entry-top-left{

		float:none;

		width:100%;

		margin-bottom:20px;

	}



	.post-entry-top-right{

		float:none;

		width:100%;

		text-align:left;

	}



	.post-share{

		margin-left:0px;

		margin-right:5px;

	}





	.depth-2 .comment-entry{

		padding-left:75px;

	}



	.depth-3 .comment-entry{

		padding-left:75px;

	}



	.depth-4 .comment-entry{

		padding-left:75px;

	}



	.depth-5 .comment-entry{

		padding-left:75px;

	}



	/* shortcodes */



	.column1,

	.column1_1,

	.column1_2,

	.column1_3,

	.column2_3,

	.column1_4,

	.column2_4,

	.column3_4{

		float:none;

		width:100%;

		margin:0px 0px 20px 0px

	}





	/* footer callout */

	.footer-callout{

		padding:50px 75px 40px 75px;

		text-align:center;

	}



	.footer-callout-content{

		float:none;

		padding:0px 0px 20px 0px;

	}



	.footer-callout-button{

		float:none;

		padding:0px 0px 0px 0px;

	}



	/* footer area */

	#footer-left{

		text-align:center;

		float:none;

	}



	#footer-logo{

		padding-bottom:15px;

	}



	#footer-right{

		text-align:center;

		float:none;

		padding-top:0px;

		padding-bottom:85px	;

	}



	#footer-menu ul li{

		margin-left:8px;

		margin-right:8px;

	}



	#footer-social{

		text-align:center;

	}



	#footer-social a{

		margin-left:15px;

		margin-right:15px;

	}



	#footer-copyright{

		text-align:center;

	}

	.sidebar-tag-links, .content .sidebar-tag-links ul {display:none;}


}



/* admin  */

@media screen and (max-width: 782px){



	.footer-column.column-last,.footer-column{
		width: 100%;
    	margin-right:0%;
    	padding-bottom: 0px;
	}

		.sidebar-tag-links, .content .sidebar-tag-links ul {display:none;}


}



@media screen and (max-width: 760px) {

	#background{

		min-width:460px;

	}

	#page-boxed {
		padding: 0 23px;
	}



	.wrap{

		width:auto;

		margin:0 auto;

	}
	.author-wrap{

		width:100vw;

		margin:0 auto;
}

	#body {
		padding: 0;
	}



	/* header */

	#site-header-content {
		padding: 0 1em;
	}

	#site-search {
		left: 200px;
	}

	#site-activity-menu {
		right: 1em;
	}


	.top-social{

		display:none;

	}



	#index-box{

		text-align:center;

		padding:50px 0px;

	}

	.logo-box{
		margin: 0px 30px;
	}




	.logo-retina{

		max-width:100%;

		width:auto;

		height:auto;

	}

	.logo-box img{
		height:auto;
	}

	#header .logo-text{
		font-size: 48px !important;
	}

	/* page */

	.big-column{}

	.small-column {
		padding-bottom: 0;
		display: none; /* KS Edit 6/30/2020 */
	}

	.page-title {

	    padding: 50px 30px;

	}

	.page-title.dark-title-full {
		margin: 0 -2em;
	}



	.page-entry-body {

	    padding: 40px 0px 50px 0px;

	}

	/* page 404 */

	.error404 .content .widget_search form{
		width: 100%;
	}

	/* post */




	a.post-share{

		margin-bottom:8px;

	}



	.post-entry-top{

		padding:40px 0px;

	}



	.post-entry-content{

		padding:0px 0px 35px 0px;

	}



	.post-entry-bottom{

		padding:0px 0px 45px 0px;

	}

	.post-entry-end-of-content .post-entry-tags {
		float: none;
		margin-top: 1em;
		text-align: left;
	}



	.author-bio{

		padding:40px 30px 40px 30px;

		text-align:center;

	}



	.author-bio-avatar{

		float:none;

		padding-right:0px;

	}



	.author-bio-details{

		border-left:0px !important;

		margin-left:0px;

		padding-left:0px;

	}



	.post-single-section{

		margin: 0px 0px 0px 0px;

	}



	.post-relative-column,.post-relative-column.column-last{

		float:none;

		width:100%;

		margin:0px;

		margin-bottom:20px;

	}



	#comment-form{



	}



	.comment-form-left,.comment-form-comment,.form-submit{

		float:none;

		width:100%;

		margin:0px;

	}



	.paginate {

	    padding: 50px 0px 50px 0px;

	}

	.paginate .current,

	.paginate a,

	.woocommerce nav.woocommerce-pagination ul li a,

	.woocommerce nav.woocommerce-pagination ul li span{

		margin-bottom:10px;

	}



	/* sidebar */

	.sidebar-widget{}



	.promote-box{

		padding-left:30px;

		padding-right:30px;

	}



	/* footer */



	.footer-callout{

		padding:50px 30px 40px 30px;

	}



	#footer{

		padding: 0 1em !important;

	}

	#footer-inner {
		padding: 0 2em;
	}



	#footer-bottom{

		padding:25px 30px;

	}


	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {

		float:none;

		width:100%;

		margin-right:0px;

	}



	.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count, form.woocommerce-ordering{

		float: none !important;

	}



	.woocommerce ul.products li.last, .woocommerce-page ul.products li.last{

		margin-bottom:40px;

	}



}

@media screen and (max-width: 600px) {
	#wpadminbar {
		position: fixed;
	}
}


/* TODO: Sidbar image boxes: unhide on mobile, flex the ul iside, change image sizes */


@media screen and (max-width: 480px) {

	#body {
		padding: 0;
	}

	#header .logo-text {
	    font-size: 38px !important;

	}

	#background{

		min-width:100%;

	}

	.paginate > * {
		margin: 0 !important;
		line-height: 30px !important;
		min-width: 26px !important;
	}



	.wrap{

		/* width:90%;

		margin:0 auto; */

	}



	/* header */



	#index-box{

		display: none;

	}

	.sidebar-tag-links li {
		width: 100%;
		margin-right: 0;
	}

	.post-entry-title a{
		font-size: inherit;
    	line-height: inherit;
	}
	h1.post-entry-title {
		font-size:28px;
	}
	.post-entry-meta ,.post-entry-meta a{
		font-size: 12px !important;
		line-height: 18px !important;
		letter-spacing: 1px !important;
	}

	a.post-entry-button{
		font-size: 16px !important;
	}
}

/*
     FILE ARCHIVED ON 02:43:32 Aug 10, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:01:57 Apr 03, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 231.488
  exclusion.robots: 0.085
  exclusion.robots.policy: 0.075
  cdx.remote: 0.064
  esindex: 0.01
  LoadShardBlock: 180.823 (3)
  PetaboxLoader3.datanode: 106.057 (5)
  PetaboxLoader3.resolve: 252.954 (4)
  load_resource: 243.381 (2)
*/